@using BilgeAdamGuney.Models
@model ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('https://www.epimedyumsitesi.net/siparis/loading.gif') 50% 50% no-repeat;
    }

    body.loading {
        overflow: hidden;
    }

        /* Anytime the body has the loading class, our
    modal element will be visible */
        body.loading .modal {
            display: block;
        }

    .sign-box a {
        color: #ffffff;
    }

    .twisted {
        color: #ffffff;
        margin-top: -5px;
        border-radius: 50%;
        transition: all ease-in-out 500ms;
        box-shadow: 3px 3px grey;
    }

        .twisted:hover {
            color: #ffffff;
            background: #00e505;
            transform: rotate(720deg);
        }

    .register {
        color: #ffffff;
        position: absolute;
        right: 1005px;
        top: 32%;
        background: #6c5bc1;
        color: #efefef;
        padding: 15px 10px;
        width: 50px !important;
        height: 50px;
    }
</style>

<div class="content">
    <!--login-->
    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile">
                <h3>Şifre Yenileme</h3>
                @if (TempData["ResultMessage"] != null)
                {
                    <div class="alert alert-info">
                        @TempData["ResultMessage"]
                        @Html.ValidationSummary()
                    </div>
                }
                @using (Html.BeginForm("ForgotPassword", "Member", FormMethod.Post, new { @id = "form" }))
                {

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control", @placeholder = "Email" })
                    </div>

                    @Html.ActionLink("Giriş", "SignIn", null, new { @class = "twisted register" })

                    <button type="submit" class="btn btn-rounded">Sıfırlama Mailini Gönder</button>
                }
            </div>
        </div>
    </div>
    <!--login-->
</div>