@using BilgeAdamGuney.Models
@model MemberSignUpModel
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Hoş Geldiniz @(Model.FirstName+" "+Model.LastName)</h2>

